# comediMEMS_AI.template
# Per-channel analog input readback
# Macros: P, R, PORT, ADDR, PREC

record(ai, "$(P)$(R)Value")
{
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT),$(ADDR))AI_VALUE")
    field(PREC, "$(PREC)")
    field(EGU,  "V")
    field(SCAN, "I/O Intr")
}

record(mbbo, "$(P)$(R)Range")
{
    field(PINI, "YES")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR))AI_RANGE")
    field(ZRVL, "0")
    field(ZRST, "+/- 10V")
    field(ONVL, "1")
    field(ONST, "+/- 5V")
    field(TWVL, "2")
    field(TWST, "+/- 0.5V")
    field(THVL, "3")
    field(THST, "+/- 0.05V")
}
